<script>
    $(function() {
        $( "#accordion" ).accordion();
    });
</script>



<div class="thingsLearnt">

  <div id="accordion">
    <h3><a href="#">Users</a></h3>
    <div>
      <p>
        Creating resource called User with two fields name and email.
      </p>
    </div>
    <h3><a href="#">Microposts</a></h3>
    <div>
      <p>
        Creating a resource called microposts wiht two fields user_id and content. User_id is the id of the an existing user
        and content is the post being created. Since this is a micropost we are limiting the number of characters for the
        content field. So if the content field exceeds the limit an error message will be shown. Also the micropost table is
        associated with the user table.
      </p>
    </div>
    <h3><a href="#">Things learnt in this project</a></h3>
    <div>
      <ul>
        <li>To impose limitations on text fields</li>
        <li>Creating resources with association to other tables or resources</li>
      </ul>


    </div>

  </div>

</div>

