// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thingsLearnt {
  width: 80%;
  margin: 0 auto;
}

h3 {
  border: 1px solid black;
  background-color: #F2F5A9;
  border-radius: 15px;
  padding: 1%;
}

h3:hover {
  background-color: #FFBF00;
}

p {
  padding: 1%;
}