// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usersListing {
  width: 80%;
  margin: 0 auto;
}

table {
  border: 1px solid black;
}